:root {
  --hover-color: #404bbf;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  padding: 0 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
}

/* ==================================================================== */

/* ________________________ header mobile _________________________ */

.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 428px) {
  .container {
    max-width: 428px;
  }
}

.nav-container {
  background-color: #fff;
}

.list-nav {
  display: none;
}

.list-contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.nav-span {
  color: #2e2f42;
}

.mobile-open-btn {
  display: flex;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.mobile-open-btn-img {
  fill: #2e2f42;
}

/* ____________________ mobile menu __________________ */

.top-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  background-color: #f4f4fd;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.mobile-menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  transition: transform 30 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-list-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 40px;
}

.nav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.mobile-list-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-modal-tel {
  font-size: calc(26px + 10 * (100vw - 280px) / 428);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-mobile-sm-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 328px;
  margin-top: 48px;
}

.portfolio-header-line {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* _____________ header tablet ______________ */

@media screen and (min-width: 768px) {
  .container {
    max-width: 767px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .mobile-open-btn {
    display: none;
  }

  .top-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .list-nav {
    display: flex;
    gap: 40px;
  }

  .list-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .logo {
    margin-right: 122px;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio-underline {
    color: #404bbf;
    position: relative;
  }

  .portfolio-underline {
    color: #404bbf;
    position: relative;
  }

  .studio-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -8px;
    background: #404bbf;
    border-radius: 2px;
  }

  .portfolio-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -10px;
    background: #404bbf;
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }

  .contacts {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress-box {
    display: flex;
    margin-left: 122px;
    font-style: normal;
  }

  .contacts:hover,
  .contacts:focus {
    color: var(--hover-color);
  }
}

/* =================== header desktop ===================== */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .top-header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .list-nav {
    display: flex;
    gap: 40px;
  }

  .list-contacts {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }

  .logo {
    margin-right: 76px;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio-underline {
    color: #404bbf;
    position: relative;
  }

  .portfolio-underline {
    color: #404bbf;
    position: relative;
  }

  .studio-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
  }

  .portfolio-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }

  .contacts {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress-box {
    font-style: normal;
  }

  .contacts:hover,
  .contacts:focus {
    color: var(--hover-color);
  }
}
/* ________________ mobile hero _________________ */

@media screen and (min-width: 360px) {
  .main-section {
    background-color: #2e2f42;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index-img/index-bg-mobile@1x.jpg);
    background-size: cover;
    max-width: 428px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index-img/index-bg-mobile@2x.jpg);
  }
}

.main-title {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 54px;
  padding-right: 54px;
  color: #ffffff;
  font-size: calc(22px + 14 * (100vw - 280px) / 428);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.main-btn {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  border: none;
  border-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--hover-color);
}

/* ___________________ hero tablet ____________________ */

@media screen and (min-width: 767px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index-img/index-bg-tablet@1x.jpg);
    background-size: cover;
    max-width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/index-img/index-bg-tablet@2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 36px;
    padding-left: 136px;
    padding-right: 136px;
    font-size: calc(42px + 14 * (100vw - 560px) / 768);
  }
}

/* ===================== hero desktop ===================== */

@media screen and (min-width: 1158px) {
  .main-bg {
    width: 1158px;
    padding: 0;
  }

  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index-img/index-bg-desktop@1x.jpg);
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/index-img/index-bg-desktop@2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    padding-left: 0;
    padding-right: 0;
  }
}

/* ================= section2 mobile ================ */

.second-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.icon-box {
  display: none;
}
.card-second-icon {
  display: flex;
}

.features {
  line-height: 1.1;
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.title-text {
  font-size: inherit;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ____________________ section2 tablet ______________ */

@media screen and (min-width: 768px) {
  .second-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .title-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .card-second {
    width: calc((100% - 24px) / 2);
  }

  .icon-box {
    display: none;
  }
}
/* ================= section2 desktop ================ */

@media screen and (min-width: 1158px) {
  .second-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .title-list {
    gap: 24px;
  }

  .card-second {
    width: calc((100% - 72px) / 4);
  }

  .icon-box {
    display: flex;
    border-radius: 4px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .title-portfolio {
    font-size: 20px;
    text-align: start;
  }

  .title-text {
    font-weight: 400;
  }
}

/* =============== секція 3 індекс ================ */

@media screen and (max-width: 1157px) {
  .third-section {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .third-section {
    padding-bottom: 120px;
  }

  .third-list {
    display: flex;
    gap: 24px;
  }

  .img-third-section {
    width: calc((100% - 48px) / 3);
  }
  .other-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
}
/* __________________ our team mobile __________________  */

.fourth-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.other-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.fourth-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  align-items: center;
}

.img-fourth-section {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-title-index {
  padding: 32px 0;
  text-align: center;
}

.team-text {
  font-size: inherit;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.social-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.svg-fill {
  fill: #f4f4fd;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

/* _____________ our team tablet_____________ */

@media screen and (min-width: 768px) {
  .main-bg {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fourth-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 108px;
    column-gap: 24px;
    row-gap: 72px;
  }

  .img-fourth-section {
    width: calc((100% - 24px) / 2);
  }
}

/* =============== our team desktop ============= */

@media screen and (min-width: 1158px) {
  .fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-bg {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title-portfolio-team {
    line-height: 1.1;
    font-weight: 700;
    font-size: 20px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

  .fourth-list {
    column-gap: 24px;
    padding: 0;
  }

  .img-fourth-section {
    width: calc((100% - 72px) / 4);
  }
}

/* ___________________ customers mobile ______________________ */

.fifth-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.fifth-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}

.customers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-box {
  display: flex;
  width: calc((100% - 16px) / 2);
  height: 88px;
  justify-content: center;
  align-items: center;
}

.customers-logo {
  fill: currentColor;
}

.icon-customers {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers:hover,
.icon-customers:focus {
  color: #404bbf;
  border-color: #404bbf;
}

/* ____________________ customers tablet ______________________ */

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
    justify-content: center;
  }

  .customers-box {
    width: calc((100% - 48px) / 3);
    width: 168px;
  }
}

/* =================== customers desktop ====================== */

@media screen and (min-width: 1158px) {
  .fifth-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-box {
    width: calc((100% - 120px) / 6);
  }
}

/* ========================== PORTFOLIO ================================ */

/* ======================= img portfolio mobile ======================= */
.main-section-pf {
  padding-top: 48px;
  padding-bottom: 48px;
}

.img-portfolio {
  width: 396px;
}

.img-pf-width {
  width: 396px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  /* column-gap: 24px; */
}

.img-title-pf {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.link-block {
  position: relative;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-block:hover .overlay-text {
  transform: translateY(0);
}

.link-block:focus .overlay-text {
  transform: translateY(0);
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

.link-block:hover,
.link-block:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-block:hover .overlay {
  transform: translateY(0);
}

.link-block:focus .overlay {
  transform: translateY(0);
}

/* ================= кнопки портфоліо mobile ============= */

.btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.btn {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======================== img portfolio desktop =================== */
/* .main-section-pf {
  padding-top: 96px;
  padding-bottom: 120px;
} */

/* .img-portfolio {
  width: calc((100% - 48px) / 3);
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
} */

.img-title-pf {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.link-block {
  position: relative;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-block:hover .overlay-text {
  transform: translateY(0);
}

.link-block:focus .overlay-text {
  transform: translateY(0);
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

.link-block:hover,
.link-block:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-block:hover .overlay {
  transform: translateY(0);
}

.link-block:focus .overlay {
  transform: translateY(0);
}

/* ================= кнопки портфоліо ============= */

/* .btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
} */

.btn {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* _________________ footer mobile ________________  */

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-styles {
  display: flex;
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-span {
  color: #f4f4fd;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-size: inherit;
  line-height: 1.5;
  text-align: Left;
  vertical-align: Top;
  margin-bottom: 72px;
}

.footer-link {
  margin-bottom: 72px;
}

.footer-title {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-icon {
  fill: #f4f4fd;
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-mail-box {
  margin-bottom: 16px;
}
.footer-mail {
  height: 40px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-mail::placeholder {
  color: #ffffff;
}
.button-box {
  display: block;
}

.mail-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  height: 40px;
  width: 165px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn {
  margin-left: 16px;
}

.mail-btn:hover,
.mail-btn:focus {
  background-color: var(--hover-color);
}

/* _________________ footer tablet ____________________ */

@media screen and (min-width: 768px) {
  .footer-main {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 0;
  }

  .footer-text {
    margin-top: 16px;
  }

  .footer-logo-section {
    margin-right: 24px;
    margin-left: 92px;
    min-width: 264px;
  }

  .footer-link {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-title {
    text-align: start;
  }

  .subscribe-box {
    min-width: 264px;
    margin-left: 92px;
  }

  .form-box {
    flex-direction: row;
  }

  .footer-mail-box {
    margin-right: 24px;
  }
  .footer-mail {
    width: 264px;
  }

  .mail-btn {
    margin: 0;
  }

  .subscribe-btn {
    margin-left: 16px;
  }
}

/* ================= footer desktop ===================== */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-main {
    flex-wrap: nowrap;
  }

  .footer-styles {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-logo-section {
    margin-right: 120px;
    min-width: 252px;
    margin-left: 0;
  }

  .subscribe-box {
    margin-left: 0;
  }
}
/* ================Модальне вікно================ */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .modal {
    width: 392px;
  }
}

.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon {
  fill: #ffffff;
}
.modal-btn:focus .modal-icon {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-list {
  display: flex;
  flex-direction: column;

  width: auto;
}

.field-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.field-box-cmt {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.text-field {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

/* =========================================================== */

.input-wrap {
  position: relative;
}

.field-box-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-box-input {
  border: 1px solid rgba(46, 47, 66, 0.2);
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-box input:focus {
  border: 1px solid #4d5ae5;
}

.field-box input:focus + svg {
  fill: #4d5ae5;
}

.field-box input:focus::placeholder {
  color: #4d5ae5;
}

/* ================================================================== */

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-box textarea:focus {
  border-color: #4d5ae5;
}

.field-box textarea:focus::placeholder {
  color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-text {
  display: block;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: #8e8f99;
  letter-spacing: 0.04em;
}
.text-span {
  color: #4d5ae5;
}

.check-custom-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.checkbox:checked + .modal-text .check-custom-box {
  background-color: #404bbf;
  border: none;
  border-color: #404bbf;
  fill: #fff;
}

.checkbox:focus + .check-custom-box {
  outline: 1px solid #404bbf;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.field-box-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.send-btn {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--hover-color);
}
