 .footer-main {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 0;
  }

  .footer-text {
    margin-top: 16px;
  }

  .footer-logo-section {
    margin-right: 24px;
    min-width: 264px;
  }

  .footer-link {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-title {
    text-align: start;
  }

  .subscribe-box {
    min-width: 264px;
  }

  .form-box {
    flex-direction: row;
  }

  .footer-mail-box {
    margin-right: 24px;
  }
  .footer-mail {
    width: 264px;
  }

  .mail-btn {
    margin: 0;
  }

  .subscribe-btn {
    margin-left: 16px;
  }
}