.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-styles {
  display: flex;
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-span {
  color: #f4f4fd;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-size: inherit;
  line-height: 1.5;
  text-align: Left;
  vertical-align: Top;
  margin-bottom: 72px;
}

/* .footer-logo-section {
  margin-right: 120px;
} */

.footer-link {
  margin-bottom: 72px;
}

.footer-title {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-icon {
  fill: #f4f4fd;
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-mail-box {
  margin-bottom: 16px;
}
.footer-mail {
  height: 40px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-mail::placeholder {
  color: #ffffff;
}
.button-box {
  display: block;
}

.mail-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  height: 40px;
  width: 165px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn {
  margin-left: 16px;
}

.mail-btn:hover,
.mail-btn:focus {
  background-color: var(--hover-color);
}
